grant {
	permission java.security.AllPermission;
	permission java.net.SocketPermission "*:1024-65535","connect,accept,resolve";
        permission java.net.SocketPermission "*:1-1023","connect,resolve";
        permission java.util.PropertyPermission "*", "read,write";
        permission java.io.FilePermission "<<ALL FILES>>", "read";  
        permission java.io.FilePermission "<<ALL FILES>>", "write";  
        permission java.util.PropertyPermission "*", "read, write";  
        permission java.util.PropertyPermission "user.home", "read";  
        permission java.lang.RuntimePermission "*";
        permission java.lang.RuntimePermission "loadLibrary.jaas_n";


 };